[Unit]
Description=Actualiza el equipo
DefaultDependencies=no
Before=shutdown.target
 
[Service]
Type=oneshot
ExecStart=~/.config/APYAA.sh
TimeoutStartSec=0
 
[Install]
WantedBy=shutdown.target
