[Unit]
Description=Actualizar sistema con yay antes de apagar
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
After=network-online.target
 
[Service]
Type=oneshot
ExecStart=/usr/bin/yay -Syyuu --noconfirm
RemainAfterExit=yes
TimeoutStartSec=0
 
[Install]
WantedBy=shutdown.target reboot.target halt.target
